 /* Common Css */
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Work Sans', sans-serif;
 }

 img {
     vertical-align: middle;
 }

 a {
     text-decoration: none;
 }

 ul,
 ol {
     list-style: none;
 }

 :root {}


 .btn-primary {
     padding: 20px 25px;
     color: #FFF;
     text-align: center;
     font-size: 20px;
     font-weight: 600;
     border-radius: 8px;
     background: #FF900E;
     border: 0;
     cursor: pointer;
 }

 .common-head {
     color: var(--Dark-01, #131313);
     font-size: 45px;
     font-weight: 700;
     cursor: pointer;
 }

 /* Navbar Part Start */
 header {
     padding: 50px 240px;
     background: rgba(255, 144, 14, 0.10);
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 nav>ul {
     display: flex;
 }

 .nav-list>li {
     margin-left: 50px;
 }

 .nav-list a {
     color: var(--Dark-02, #424242);
     font-size: 18px;
     font-weight: 500;
     line-height: 26px;
 }

 /* Banner Part Start */


 .banner-text {
     padding-top: 60px;
     padding-bottom: 30px;
     max-width: 860px;
     text-align: center;
     margin: 0 auto;
 }

 .banner-title {
     color: var(--Dark-01, #131313);
     font-size: 64px;
     font-weight: 700;
 }

 .banner-description {
     margin: 30px 0px 40px 0px;
     color: var(--Dark-03, #727272);
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
 }

 .banner-img img {
     width: 100%;
 }

 /* Team Part Start */
 main {
     padding-bottom: 100px;
     max-width: 1440px;
     margin: 70px 300px;
 }

 .team-content {
     display: flex;
     align-items: center;
 }

 .team-img {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;
 }

 .team-text {
     padding-left: 70px;
     padding-right: 70px;
 }

 .team-title {
     margin-bottom: 0px;
     color: var(--Dark-03, #727272);
     font-size: 45px;
     font-weight: 500;
 }

 .title-two {
     color: var(--Dark-01, #131313);
     font-size: 45px;
     font-weight: 700;
 }

 .title-three {
     color: #FF900E;
     font-size: 45px;
     font-weight: 700;
 }

 .team-description {
     width: 537px;
     margin-top: 30px;
     margin-bottom: 0px;
     color: var(--Dark-03, #727272);
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
 }

 .two {
     margin-top: 25px;
 }

 /* Features Part Start */

 /* Facts Part Start */
 #facts {
     margin: 50px 0px;
 }

 .fact-description {
     width: 542px;
     margin-top: 30px;
     margin-bottom: 0px;
     color: var(--Dark-03, #727272);
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
 }

 .fact-items {
    margin-top: 80px;
     display: flex;
     justify-content: space-around;
     text-align: center;
 }

 .fact-items .card {
     padding: 40px 15px;
     border-radius: 8px;
     border: 1px solid #FF900E;
 }

 .card-stats {
     margin-top: 10px;
     margin-bottom: 10px;
     color: var(--Dark-02, #424242);
     font-size: 45px;
     font-weight: 600;
 }

 .card-title {
     width: 180px;
     color: var(--Dark-03, #727272);
     font-size: 20px;
     font-weight: 600;
 }



 /* respisin=ve design */
 /* Mobile divices */

 @media screen and (max-width: 576px) {

     /* Header part */
     header {
         padding: 20px;
     }

     nav {
         text-align: center;
         flex-direction: column;
     }

     .nav-list {
         padding-top: 30px;
         margin: 0 auto;
     }

     .nav-list>li {
         margin-left: 20px;
     }

     /* Features Part */
     .features-content {
         flex-direction: column-reverse;
     }

     .features-img {
         margin-top: 25px;
         grid-template-columns: repeat(1, 1fr);
     }

     .features-text {
         padding-bottom: 20px;
         padding-top: 20px;
         padding-left: 20px;
         padding-right: 20px;
     }

     .features-description {
         width: 360px;
     }

 }

 /* tablet or medium devices */
 @media screen and (min-width: 576px) and (max-width: 960px) {

     /* Header Part */
     header {
         padding: 40px 80px;
     }

     .nav-list>li {
         margin-left: 45px;
     }

     /* Feattures part */
     .features-content {
         flex-direction: column-reverse;
     }

     .features-img {
         margin-top: 30px;
     }

 }